<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwkE4kVcHHw-cvsWPz0EC7EeEz0ZPpIy4</string>
	<key>GCM_SENDER_ID</key>
	<string>734001807995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.slopesense</string>
	<key>PROJECT_ID</key>
	<string>fyp-slopesense</string>
	<key>STORAGE_BUCKET</key>
	<string>fyp-slopesense.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734001807995:ios:e87056667398d3dbf818de</string>
</dict>
</plist>